<footer id="footer" class="footer">
  <div class="container footer-content">
    <!-- Branding -->
    <div class="footer-brand">
      <p class="footer-role">Software Developer</p>
      <p class="footer-copy">© 2026 Angela Jasso</p>
    </div>

    <!-- Navigation -->
    <nav aria-label="Footer navigation" class="footer-nav">
      <ul>
        <li><a href="https://github.com/angelajasso/">GitHub</a></li>
        <li>
          <a href="https://www.linkedin.com/in/angelajasso/">LinkedIn</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
