<header class="header">
  <div class="container header-content">
    <!-- Logo -->
    <div class="logo">
      <a href="/" aria-label="Homepage">
        <img src="./assets/logo.svg" alt="Angela Jasso logo" />
        <span>Angela Jasso</span>
      </a>
    </div>

    <!-- Button -->
    <button
      class="menu-toggle"
      id="menu-toggle"
      aria-label="Abrir menú de navegación"
      aria-expanded="false"
      aria-controls="main-menu"
    >
      ☰
    </button>

    <!-- Navegation -->
    <nav id="main-menu" class="nav" aria-label="Main navigation">
      <ul>
        <li><a href="#main-content">Inicio</a></li>
        <li><a href="#projects">Proyectos</a></li>
      </ul>
    </nav>

    <!-- Actions -->
    <div class="social-toggle">
      <a
        href="https://github.com/angelajasso/"
        aria-label="Visitar perfil de GitHub de Angela Jasso"
      >
        <img src="./assets/github.svg" alt="GitHub" />
      </a>
      <a
        href="https://www.linkedin.com/in/angelajasso/"
        aria-label="Visitar perfil de LinkedIn de Angela Jasso"
      >
        <img src="./assets/linkedin.svg" alt="LinkedIn" />
      </a>
      <button class="toggle" id="toggle-theme" aria-label="Cambiar tema oscuro">
        🌙
      </button>
    </div>
  </div>
</header>
